/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
    background: var(--bg-white);
    height: 70px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

/* Logo Wrapper */
.logo-wrapper img {
    width: 200px;
    height: auto;
}

/* Nav Menu Desktop */
.nav-menu {
    margin-left: auto;
    background: #EFF3FA;
    position: fixed;
    top: 70px;
    width: 100%;
    transform: translateX(100%);
    left: 0;
    height: 100%;
    transition: all 0.5s;
}

.nav-menu.active {
    transform: translateX(0);
}

.nav-menu ul {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
}

.nav-menu ul li {
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
}

/* NL & EN vlag */
.nav-menu-language {
    display: flex;
    position: relative;
}

/* Nav language flag */
.nav-menu-language img {
    margin-left: 10px;
}

/* Nav language link */
.nav-menu-language li {
    margin-top: 1.25rem;
}

/* Nav language seperator line */
.nav-menu-language:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #D2E2FF;
    position: absolute;
}

/* Create the line under nav item */
.nav-menu ul li:before {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--main-color);
    transition: all 300ms;
    position: absolute;
    bottom: -3px;
}

.nav-menu ul li:hover:before {
    width: 100%;
}

/* Seperator line after nav item */
.nav-menu ul li:last-child {
    position: relative;
}

/* Hamburger Icon */
.hamburger {
    cursor: pointer;
    transition: .3s;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
}

/* Hamburger bars */
.hamburger span {
    width: 30px;
    height: 4px;
    background-color: var(--main-color);
    display: block;
    margin: 5px auto;
}

/* Hamburger active state */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
}

/*--------------------------------------------------------------
# Media Query's Header
--------------------------------------------------------------*/
@media (min-width: 62.5rem) {
    header {
        padding: 0 4rem;
    }

    .hamburger {
        display: none;
    }

    /* Desktop navigation */
    .nav-menu {
        margin-left: auto;
        display: flex;
        top: 0;
        width: auto;
        transform: translateX(0);
        transition: none;
        position: relative;
        background: none;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .nav-menu ul li {
        margin-bottom: 0;
        margin-right: 20px;
        position: relative;
        display: flex;
    }

    .nav-menu ul li:nth-child(5):after {
        content: '';
        background: #D2E2FF;
        width: 1px;
        height: 20px;
        position: absolute;
        right: -20px;
        margin-right: 10px;
    }

    /* Nav menu language */
    .nav-menu-language li {
        margin-top: 0;
    }

    .nav-menu-language:before {
        display: none;
    }
}