/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: thin;
  src: url("../assets/fonts/SF-Pro-Display-Thin.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: medium;
  src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: regular;
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF-Pro-Display";
  font-weight: bold;
  src: url("../assets/fonts/SF-Pro-Display-Semibold.otf");
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* Variables */
:root {
  --main-color: #1e64e7;
  --main-bg-color: #1e64e7;
  --main-text-color: #444444;
  --secondary-bg: #eff3fa;
  --bg-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eff3fa;
  color: var(--main-text-color);
  font-family: "SF-Pro-Display", sans-serif;
}

hr {
  border: none;
  height: 1px;
  background: var(--secondary-bg);
  margin-top: 1rem;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

section {
  padding: 0 1rem;
}

.btn {
  margin-top: 1rem;
  font-size: 1rem;
  transition: all 200ms;
}

.btn img {
  position: relative;
  top: 2px;
}

.btn:hover {
  transform: translateY(-3px);
}

.seperator {
  background: var(--main-bg-color);
  width: 100px;
  height: 3px;
  display: block;
}

/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/

.banner {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5)),
    url("/assets/images/banner-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  margin-top: 70px;
}

/* Banner Content */
.banner-content {
  padding: 2rem 0;
}

/* Banner Title */
.banner h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #fff;
}

/* Banner buttons */
.banner-btn-wrapper {
  margin-top: 10px;
  display: flex;
}

/* Button primary */
.btn-primary {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: var(--main-bg-color);
}

/* Button secondary */
.btn-secondary {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--secondary-bg);
  color: var(--main-text-color);
  margin-right: 10px;
}

/*--------------------------------------------------------------
# How does it work?
--------------------------------------------------------------*/

.how-does-it-work {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr;
}

/* How does it work title */
.how-does-it-work h2 {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

/* How does it work paragraph */
.how-does-it-work p {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* How does it work card list */
.how-does-it-work ol {
  margin-top: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

/* How does it work card item */
.how-does-it-work ol li {
  background-color: #fff;
  padding: 1rem 1.2rem;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 3px;
}

/* Card item image*/
.how-does-it-work-card img {
  width: 34px;
  height: auto;
}

/* Card item title */
.how-does-it-work-card h3 {
  color: var(--main-color);
  text-align: center;
  font-size: 1.25rem;
}

/* Card item subtitle */
.how-does-it-work-card h4 {
  text-align: center;
  margin-top: 5px;
}

/* Card item paragraph */
.how-does-it-work-card p {
  font-size: .9rem;
  margin-top: 10px;
  text-align: start;
}

/*--------------------------------------------------------------
# Privacy Usage Section
--------------------------------------------------------------*/
.privacy-usage {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
}

.privacy-usage div:nth-child(1) {
  background: #fff;
  margin-right: 25px;
  grid-row: 2;
  padding: 1rem 1.2rem;
  width: 100%;
}

.privacy-usage h3 {
  margin-bottom: 15px;
  margin-top: 10px;
}

.privacy-usage p {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Privacy usage image */
.privacy-usage-image img {
  width: 100%;
  height: auto;
  grid-row: 1;
}

.privacy-usage a {
  margin-bottom: 20px;
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/

.features {
  margin-top: 50px;
}

.features h3 {
  margin-bottom: 15px;
}

/* Features cards */
.features-card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  grid-gap: 15px;
}

/* Specific features card */
.features-card {
  background: #fff;
  padding: 1rem 2rem;
  width: 100%;
  text-align: center;
}

.features-card img {
  width: 45px;
  height: auto;
}

.features-card h4 {
  color: var(--main-color);
  text-align: center;
  font-size: 1.25rem;
}

.features-card p {
  text-align: center;
  margin-top: 5px;
}

/*--------------------------------------------------------------
# Media Query's
--------------------------------------------------------------*/

@media (min-width: 30rem) {
  section {
    padding: 0 2rem;
  }

  .privacy-usage {
    margin-top: 35px;
  }
}

@media (min-width: 40rem) {
  .how-does-it-work ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Privacy Usage */
  .privacy-usage {
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    grid-gap: 25px;
  }

  .privacy-usage div:nth-child(1) {
    grid-row: 1;
    padding: 1rem 4rem;
  }

  /* Features */
  .features {
    margin-top: 75px;
  }

  .features-card-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 62.5rem) {
  section {
    padding: 0 4rem;
  }

  /* Banner */
  .banner {
    height: 300px;
  }

  /* Banner Title */
  .banner h1 {
    font-size: 2.5rem;
  }

  /* Banner Content */
  .banner-content {
    padding: 4rem 0;
  }

  /* Banner Btns */
  .banner-btn-wrapper {
    margin-top: 20px;
  }

  /* Hoe werkt het section */
  .how-does-it-work {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
  }

  .how-does-it-work ol {
    grid-column: 2 / 5;
    display: grid;  
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-left: 2rem;
    margin-top: -80px;
    z-index: 1;
  }
  
  /* Privacy usage */
  .privacy-usage {
    grid-template-columns: 1fr 1.5fr;
    padding-left: 0;
    grid-gap: 50px;
  }
}